_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
/.libsodium
.erlang.cookie
.erlang.mk.packages.*
ebin
log
ct.coverdata
erl_crash.dump
.rebar
.rebar3
rebar3
_rel
_deps
_plugins
_tdeps
deps
doc
logs
test/ct.cover.spec
/_build
/c_src/env.mk
/cover
/priv/*.dll
/priv/*.dylib
/priv/*.so
/tmp
*.ez
