---
Language: Cpp
BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterDefinitionReturnType: true
BreakBeforeBraces: Linux
ColumnLimit: 132
IndentWidth: 4
SortIncludes: false
...
